<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
 		point="org.eclipse.ui.bindings">
 		<key
  			sequence="TAB"
  			commandId="org.rileyberton.eclipse.smart_tab.command"
  			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
  			contextId="org.eclipse.ui.contexts.window" />
	</extension>
   <extension
         id="org.rileyberton.eclipse.smart_tab.command"
         point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.rileyberton.eclipse.smart_tab.handlers.TabHandler"
               description="Do the right thing about tabs"
               id="org.rileyberton.eclipse.smart_tab.command"
               name="Smart Tab"/>
   </extension>

</plugin>
